.portfolio_intro {
  color: #fff;
  margin-top: 92px;
  width: 100%;
  height: 160px;
  text-align: center;
  background: url(../img/bg-portfolio.jpg) no-repeat center;
  background-size: cover;
}

.portfolio_intro h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 40px;
}

.portfolio_intro h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 10px auto;
}

.portfolio_intro p {
  margin-top: -10px;
}

/* Citação */

.quote {
  text-align: center;
  max-width: 355px;
  padding: 20px 0;
}

.quote p {
  margin-bottom: 20px;
}

.quote cite {
  font-weight: bold;
}

.portfolio_images {
  width: 100%;
  background-color: #000;
  padding: 20px 0;
}

.portfolio_images img {
  margin-bottom: 20px;
}

.portfolio_list {
  padding-top: 20px;
}
