/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fec63e;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}
.header_menu ul li {
  display: inline-block;
  margin: 20px 0 auto 25px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.subtitle:after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 60px;
  height: 3px;
  background-color: #000;
}
/* Introdução */

.intro {
  width: 100%;
  margin-top: 92px;
  text-align: center;
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  height: 380px;
  color: #fff;
}

.intro h1 {
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.quote_ext {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.quote_ext p {
  font-style: italic;
}

.quote_ext p:after,
.quote_ext p:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 12px auto 12px auto;
}

.quote_ext cite {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-style: normal;
}

.intro .btn:hover {
  color: #fff;
  border-color: #fff;
}

.products {
  padding: 40px 0;
  text-align: center;
}

.product_list li {
  background-color: #fec63e;
  margin-bottom: 40px;
}

.product_list li h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.product_list li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 10px auto 10px auto;
}

.product_icon {
  background: #000 no-repeat center;
  padding: 20px;
  margin-bottom: 15px;
}

.product_icon img {
  margin: 0 auto;
}

.products p {
  margin-bottom: 20px;
}

.products .btn:hover {
  color: #000;
  border-color: #000;
}

.portfolio {
  width: 100%;
  background: #000;
  text-align: center;
  padding-bottom: 30px;
}

.portfolio_icon {
  display: inline-block;
  margin-bottom: 20px;
}

.portfolio .subtitle {
  color: #fec63e;
  margin-top: 30px;
}

.portfolio .subtitle:after {
  background-color: #fec63e;
}

.portfolio p {
  color: #fec63e;
  margin-bottom: 20px;
}

.portfolio .btn:hover {
  color: #fff;
  border-color: #fff;
}
